.feeds-list {
    padding-top: 20px;
    margin: 15px;
}

.feedbox {
    border: 1px solid #a1a1a1;
    box-shadow: inset 0 0 0 1px rgba(74, 144, 217, 0), 0 1px white;
    background-color: #ffffff;
}

.sidebar .list {
    background-color: @sidebar_bg_color;
}


