[Desktop Entry]
Name=News
Exec=news
Icon=news
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;Feed;News;GNOME;GTK;
Keywords=News;Feed;
