[Desktop Entry]
Name=News
Exec=gnome-news
Icon=gnome-news
Terminal=false
Type=Application
Categories=Network;Feed;News;GNOME;GTK;
Keywords=News;Feed;
